<div class="login-container">
    <div class="form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-groupe">
                <label>Username</label>
                <input type="text" formControlName="username">
            </div>
            <div class="form-groupe">
                <label>password</label>
                <input type="password" formControlName="password">
            </div>
            <div class="form-groupe">
                <div class="buttons">
                    <button type="submit">Login</button>
                    <a class="signup" [routerLink]="['/signup']">Signup</a>
                </div>
            </div>
        </form>
    </div>
</div>